.bluediv {
  background-color: rgba(121, 203, 210, 0.761);
  width: 100%;
  block-size: 115px;
}

body {
  background-image: url("https://images.pexels.com/photos/13248795/pexels-photo-13248795.jpeg");
  height: auto;
  background-size: 120%;
}

.dropbtn {
  background-color: #f18e04;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

body {
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff840045;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 #map { height: 350px; width: 35%; }

 .box-demo {
  background-color: lightgrey;
  width: 250px;
  border: 10px solid green;
  padding: 25px;
  margin: 30px;
  margin-left: 650px;
}
